#AddType application/x-httpd-php70 .php
AddDefaultCharset utf-8

php_flag display_errors on

DirectoryIndex index.php

#RewriteEngine On
#RewriteRule ^/.* /index.php
<IfModule mod_rewrite.c>
    RewriteEngine On

    RewriteCond %{REQUEST_FILENAME} -f
    RewriteRule ^ - [L]

    RewriteRule ^ %{ENV:BASE}/index.php [L]
#    RewriteRule ^/.* /index.php
</IfModule>
